<h1 class="page-header text-overflow ng-scope">Sale details</h1>

<div class="panel ng-scope">
    <div class="panel-body">
        <form name="details">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" ng-click="export()" ng-if="isNew">Export</button>
                        <button type="button" class="btn btn-primary" ng-if="isNew" ng-click="pdf(data, location_attention, customers, products, tax_rates, getSubTotal(), getTaxTotal(), getTotal())" ng-controller="createPDF">Get PDF</button>
                        <button type="submit" class="btn btn-success" ng-click="save()" ng-disabled="details.$invalid || !isLineItems().length || !isLineItemsValid()">Save</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="customer">Customer <span class="required-asterix">*</span></label>
                        <selectize id="customer" config="customerConfig" options='customers' ng-model="data.Contact"
                                   placeholder="Select a customer..."
                                   required=""></selectize>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="orderno">Document Number</label>
                        <input disabled="disabled" type="text" class="form-control" id="invoice_number"
                               placeholder="Customer Order Number" ng-model="data.InvoiceNumber">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="date">Date <span class="required-asterix">*</span></label>
                        <input name="date" class="form-control" id="date" ng-model="data.Date"
                               data-date-format="dd-MM-yyyy"
                               data-model-date-format="yyyy-MM-dd"
                               date-type="string"
                               placeholder="Date"
                               data-autoclose="1" bs-datepicker
                               required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="customer">Location <span class="required-asterix">*</span></label>
                        <selectize id="location" config="locationConfig" options='locations' ng-model="data.Location" required=""
                                   placeholder="Select a location..."></selectize>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="attn">Location Attention</label>
                        <input type="text" class="form-control" id="attn" placeholder="{{location_attention}}"
                               ng-model="data.Attention">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="orderno">Order Number</label>
                        <input type="text" class="form-control" id="orderno"
                               placeholder="Customer Order Number" ng-model="data.OrderNumber">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="customer">Warehouse <span class="required-asterix">*</span></label>
                        <selectize id="warehouse" config="warehouseConfig" options='warehouses'
                                   ng-model="data.Warehouse" placeholder="Select a warehouse..."
                                   required=""></selectize>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="attn">Location Address</label>
                        <input type="text" disabled="disabled" class="form-control" id="location_address"
                               placeholder="Location Address..." ng-model="location_address">
                    </div>
                </div>
            </div>

            <div>
                <a id="demo-dt-addrow-btn" class="btn btn-primary" ng-click="addLineItem()">
                    <i class="fa fa-plus"></i> Add a new line
                </a>
            </div>
            <br>

            <div ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav ui-grid-validate class="grid"></div>
            <br>

            <div>
                <h3>Sub Total: ${{ getSubTotal() | number:2 }}</h3>

                <h3>Tax: ${{ getTaxTotal() | number:2 }}</h3>

                <h2>Total: ${{ getTotal() | number:2 }}</h2>
            </div>

        </form>
    </div>
</div>
