
<h1 class="page-header text-overflow ng-scope">Sales</h1>

<div class="panel ng-scope">
    <div class="panel-body">
        <div class="pad-btm form-inline">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary pull-right" ui-sref="sale_add" ui-sref-active="active">Add
                        Sale</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div ui-grid="gridOptions" class="listing" ui-grid-selection ui-grid-auto-resize></div>
            </div>
        </div>
    </div>
</div>
