<div class="table-responsive">
    <h2>{{item.Code}}</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Warehouse</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="warehouse in data">
            <td>{{ getWarehouseName(warehouse.id) }}</td>
            <td>
                <input min="0" class="form-control" type="number" ng-model="warehouse.quantity"/>
            </td>
        </tr>
        </tbody>
    </table>
    <h3>Total: {{ getQuantity(data) }}</h3>
    <button class="btn btn-success" ng-click="save()">Save</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
