<div class="table-responsive">
    <h2>{{item.Code}}</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Warehouse</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="warehouse in warehouses">
            <td>{{ warehouse.name }}</td>
            <td>
                {{ getQuantityByWarehouse(item, warehouse.id) }}
            </td>
          </tr>
        </tbody>
    </table>
    <h3>Total: {{ getQuantity(item) }}</h3>
    <!--<button class="btn btn-success" ng-click="save()">Save</button>-->
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
