<div class="cls-content">
  <div class="cls-content-sm panel">
    <div class="panel-body">
      <div class="mar-ver pad-btm">
        <h3 class="h4 mar-no">Account Login</h3>
        <p class="text-muted">Sign In to your account</p>
      </div>
      <div class="row" ng-show="error_msq" style="margin-top: 10px;">
        <div class="alert alert-danger">
          <button class="close" ng-click="error_msq=null;"><i class="glyphicon glyphicon-remove"></i></button> {{error_msq}}
        </div>
      </div>
      <form name="details">
        <div class="form-group">
          <input type="email" name="email" class="form-control" placeholder="Email" ng-model="data.email" required autofocus>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" ng-model="data.password" required placeholder="Password">
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit" ng-click="save()" ng-disabled="details.$invalid">Sign In</button>
      </form>
    </div>
    <div class="pad-all">
      <a ui-sref="reset" class="btn-link mar-rgt">Forgot password ?</a>
      <a ui-sref="sign_up" class="btn-link mar-lft">Create a new account</a>
    </div>
  </div>
</div>
