<div class="cls-content">
  <div id="bg-overlay"></div>
  <div class="cls-content">
    <div class="cls-content-sm panel">
      <div class="panel-body">
        <div class="pad-ver">
          <i class="pli-mail icon-3x"></i>
        </div>
        <p class="text-muted pad-btm">Enter your email address to recover your password. </p>
        <div class="row" ng-show="error_msq" style="margin: 10px 13px 0 13px;">
          <div class="alert alert-danger">
            <button class="close" ng-click="error_msq=null;"><i class="glyphicon glyphicon-remove"></i>
                            </button> {{error_msq}}
          </div>
        </div>
        <form name="details">
          <div class="form-group">
            <input type="email" name="email" ng-model="data.email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group text-right">
            <button class="btn btn-success btn-block" ng-click="save()" ng-disabled="details.$invalid" type="submit">Reset Password</button>
          </div>
        </form>
        <div class="pad-top">
          <a ui-sref="accounts" class="btn-link mar-rgt">Back to Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
