<h1 class="page-header text-overflow ng-scope">Warehouses</h1>

<div class="panel ng-scope">
    <div class="panel-body">
        <div class="pad-btm form-inline">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-left">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                            Export &nbsp; <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header">Download</li>
                            <li><a href="javascript:void(0)" ng-click="exportStockReport()">Stock Report</a></li>
                            <li><a href="javascript:void(0)" ng-click="exportStockDetailReport()">Detailed Stock Report</a></li>
                        </ul>
                    </div>
                    <div class="pad-lft input-group date form-group">
                        <input name="date" class="form-control" id="date" ng-model="stockReportDate"
                              data-date-format="dd-MM-yyyy"
                              placeholder="Stock Report"
                              data-autoclose="1" bs-datepicker>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                    <a class="btn btn-primary pull-right" ui-sref="warehouse_add" ui-sref-active="active">Add
                        warehouse</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div ui-grid="gridOptions" class="listing" ui-grid-selection ui-grid-auto-resize></div>
            </div>
        </div>
    </div>
</div>
